.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}



.input {
    margin-bottom: 10px;
    width: 150px;
    height: 20px;
}



input[type = "submit"]{
    width: 150px;
    height: 25px;
    background-color: #00906dff;
    color: white;
    border-radius: 5px;
    border: white;
}